* {
    box-sizing: border-box;
  }
  body {
    background-color: #d1d1d1;
    font-family: Arial;
  }
  :focus-visible {
    outline: none;
  }
  .container {
    width: 100%;
    max-width: 390px;
    margin: auto;
    height: 700px;
    margin-top: 10px;
    background-color: rgb(255, 255, 255);
    border-radius: 16px;
    overflow: hidden;
  }
  .header {
    width: 100%;
    height: 140px;
    background-position: center;
    object-fit: cover;
    background-repeat: no-repeat;
    padding: 10px;
  }
  
  .header__box {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 4fr 1fr;
    grid-template-rows: 1fr 14px 54px;
    align-items: center;
    row-gap: 2px;
    padding-inline: 10px;
  }
  
  .profile__name {
    color: #ffffff;
    font-size: 1rem;
    font-weight: 600;
    display: flex;
    justify-content: center;
  }
  .profile__location{
    color: #ffffff;
    font-size: 0.75rem;
    text-align: center;
    grid-row: 2/3;
    grid-column: 1/4;
  }
  .profile__back {
    cursor: pointer;
    width: 34px;
    height: 34px;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
  }
  
  .profile__search {
    grid-row: 3/4;
    grid-column: 1/4;
    margin: auto;
    width: 100%;
    border: none;
    height: 32px;
    border-radius: 4px;
    padding: 0px 10px;
  }
  
  .main {
    width: 100%;
    padding: 0px 10px;
  }
  
  .list {
    width: 95%;
    height: 560px;
    background-color: #ffffff;
    margin: auto;
    margin-top: -20px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    overflow: scroll;
    row-gap: 10px;
    padding: 10px 20px;
  }

  .box {
    display: grid;
    column-gap: 12px;
    grid-template-columns: 80px auto 1fr;
  }
  .image {
    width: 80px;
    height: 80px;
    border-radius: 100%;
    overflow: hidden;
    display: flex;
    justify-content: center;
  }
  .image > img {
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
  }
  .detail {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 4px;
  }
  .contact {
    justify-self: end;
    align-self: center;
  }
  
  .name {
    color: #434343;
    font-weight: 600;
  }
  .email {
    color: #878787;
  }
  